@font-face {
    font-family: "MAK";
    font-style: normal;
    font-weight: 400;
  
    src: local("MAK"),
         url("/font/Mak/MAK.otf") format("otf");
  }
  @font-face {
    font-family: "MAK";
    font-style: normal;
    font-weight: 700;
  
    src: local("MAK"),
         url("/font/Mak/MAK-bold.otf") format("otf");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
  
    src: local("Roboto"),
         url("/font/Roboto/Roboto-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
  
    src: local("Roboto"),
         url("/font/Roboto/Roboto-Bold.ttf") format("ttf");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
  
    src: local("Roboto"),
         url("/font/Roboto/Roboto-Thin.woff") format("woff");
  }
  
*{
    margin: 0;
    padding: 0;
    cursor: none;
}
body, html{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #262526;
    color: #B3ADB3;
}
.home{
    overflow: hidden;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.logo, .menu__item{
    padding-left: 5.63vw;
    padding-right: 5.63vw;
    padding-top: 2.08vw;
}
.logo a{
    color: #B3ADB3;
    font-size: 2.08vw;
    text-decoration: none;
    font-family: 'MAK', sans-serif;
    font-weight: 400;
}
.menu__item{
    display: flex;
    font-family: 'MAK', sans-serif;
    font-weight: 400;
}
.link__project{
    padding-right: 3.13vw;
}
.menu__item a{
    color: #B3ADB3;
    font-size: 1.56vw;
    text-decoration: none;
}
.container{
    margin-left: 5.63vw;
}
.container__block{
    position: relative;
    width: 28.13vw;
    height: 31.25vw;
    margin: 5.21vw 15.63vw 1.04vw 4.17vw;
}
.title{
    width: 55.21vw;
    height: 26.04vw;
    margin-top: 13.02vw;
    margin-left: 10.42vw;
    background: url("../img/title.svg") no-repeat;
    background-size: cover;
}
.container__block-header{
    margin: -0.52vw 57.29vw 7.81vw 5.5vw !important;
}
.container__block-header h1{
    width: 31.25vw;
    text-align: center;
    left: 15.63vw;
    bottom: -2.08vw !important; 
    font-family: 'MAK', sans-serif;
    font-weight: 700;
    height: 18.75vw;
    font-weight: lighter;
    font-size: 7.81vw !important;
    color: #B3ADB3;
}
.title__project a{
    color: #B3ADB3;
    text-decoration: none;
    font-size: 3.96vw;
}
.container__block h1{
    text-align: center;
    position: absolute;
    bottom: -5.73vw;
    color: #B3ADB3;
    font-family: 'MAK', sans-serif;
    font-weight: 700;
    font-weight: lighter;
    font-size: 5.21vw;
}
.block__project-1{
    width: 36.46vw  !important;
    height: 26.04vw !important;
    background: url("../img/b6.png") no-repeat;
    background-size: cover;
}
.block__project-2{
    width: 36.46vw !important;
    height: 26.04vw !important;
    background: url("../img/photo__4.jpg") no-repeat;
    background-size: cover;
}
.block__project-3{
    width: 36.46vw !important;
    height: 26.04vw !important;
    background: url("../img/b1.jpg") no-repeat;
    background-size: cover;
}
.block__gallery-4{
    width: 36.46vw !important;
    height: 26.04vw !important;
    background: url("../img/b6.jpg") no-repeat;
    background-size: cover;
}


@media only screen and (max-width: 960px) {
    .home{
        overflow: auto;
    }
    nav{
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        z-index: 2;
    }
    .menu__item{
        display: none;
    }
    .logo, .menu__item{
        padding-left: 36.5vw;
        padding-top: 2vw;
    }
    .logo a{
        font-size: 6.08vw;
    }
    .container{
        display: block !important;
        margin-left: 1.5vw;
    }
    .container__block.container__block-header{
        display: block !important;
    }
    .container__block.block__project-1{
        display: block !important;
    }
    .container__block.block__project-2{
        display: block !important;
    }
    .container__block.block__project-3{
        display: block !important;
    }
    .container__block.block__project-4{
        display: block !important;
    }
    .container__block{
        margin: 5.21vw 15.63vw 1.04vw 4.17vw;
    }
    .block__project-1{
        width: 70vw !important;
        height: 50vw !important;
        margin-bottom: 20vw;
        margin-left: 12vw;
    }
    .block__project-2{
        width: 70vw !important;
        height: 50vw !important;
        margin-bottom: 20vw;
        margin-left: 12vw;
    }
    .block__project-3{
        width: 70vw !important;
        height: 50vw !important;
        margin-bottom: 20vw;
        margin-left: 12vw;
    }
    .block__gallery-4{
        width: 70vw !important;
        height: 50vw !important;
        margin-bottom: 20vw;
        margin-left: 12vw;
    }
    .title__project a{
        font-size: 7vw;
    }
    .container__block h1{
        bottom: -9vw;
    }
    .inner__cursor{
        display: none;
    }
    .inner__cursor.grow{
        display: none;
    }
    .outer__cursor{
        display: none;
    }
}
#js-scroll {
    height: 200%;
}


































/* project.html */



/* Секция О проекте */
.container__project{
    display: flex;
    justify-content: space-between;
    margin-left: 5.63vw;
    margin-right: 5.63vw;
    box-sizing: border-box;
    margin-top: 10.42vw;
}
.block__left{
    width: 37.50vw;
}
.block__right{
    width: 51.25vw;
}
.text__left__box{
    margin-top: 2.60vw;
    position: sticky;
    top: 10.42vw;
    margin-bottom: 6.77vw;
}
.about{
    font-family: 'MAK', sans-serif;
    font-weight: 400;
    font-size: 4.69vw;
    margin-bottom: 1.30vw;
}
.about__text{
    width: 28.75vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 160%;
}
.photo__1, .photo__4{
    width: 50.7vw;
    height: 41.67vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo__1 img{
    height: 100%;
    width: auto;
}
.photo__4 img{
    height: 100%;
    width: auto;
}
.wrap__photo__project{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 4.21vw;
}

.photo__block__right__2{
    width: 28.75vw;
    height: 48.96vw;
}
.photo__2{
    width: 28.75vw;
    height: 36.46vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.photo__2 img{
    height: 100%;
    width: auto;
}

.photo__block__right__3{
    width: 21.25vw;
    height: 48.96vw;
}
.photo__3{
    width: 21.25vw;
    height: 36.46vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.photo__3 img{
    height: 100%;
    width: auto;
}

.text__photo_right1, .text__photo_right2, .text__photo_right4{
    width: 28.75vw;
}
.text__photo_right3{
    width: 21.25vw;
}
.text__photo_right{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.04vw;
    line-height: 160%;
    padding-top: 1.25vw;
}



/* Секция О проекте */
.container__project__additional{
    display: flex;
    justify-content: space-between;
    margin-left: 5.63vw;
    margin-right: 5.63vw;
    box-sizing: border-box;
    margin-top: 9.11vw;
    margin-bottom: 5vw;
}
.block__additional__2{
    width: 51.25vw;
}
.photo__additional__1{
    width: 28.75vw;
    height: 41.67vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.21vw;
}
.photo__additional__1 img{
    height: 100%;
    width: auto;
}
.photo__additional__2{
    width: 28.75vw;
    height: 41.67vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.photo__additional__2 img{
    height: 100%;
    width: auto;
}
.text__additional{
    margin-top: 5.21vw;
    width: 28.75vw;
    position: sticky;
    top: 10.42vw;
    margin-bottom: 6.77vw;
}
.text__add__1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 160%;
    margin-bottom: 1.30vw;
}
.text__add__2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 160%;
}










/* cursor */


.inner__cursor{
    position: fixed;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background-color: #B3ADB3;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
}
.inner__cursor.grow{
    width: 60px;
    height: 60px;
    transition: width 0.5s, height 0.5s;
}
.outer__cursor{
    position: fixed;
    left: 60px;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: 0.1s;
}
