@font-face {
    font-family: "MAK";
    font-style: normal;
    font-weight: 400;
  
    src: local("MAK"),
         url("/font/Mak/MAK.otf") format("otf");
  }
  @font-face {
    font-family: "MAK";
    font-style: normal;
    font-weight: 700;
  
    src: local("MAK"),
         url("/font/Mak/MAK-bold.otf") format("otf");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
  
    src: local("Roboto"),
         url("/font/Roboto/Roboto-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
  
    src: local("Roboto"),
         url("/font/Roboto/Roboto-Bold.ttf") format("ttf");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
  
    src: local("Roboto"),
         url("/font/Roboto/Roboto-Thin.woff") format("woff");
  }
  
* {
    margin: 0;
    padding: 0;
}

body {
    background: #262526;
    font-family: 'MAK', sans-serif;
    font-weight: 400;
}

.home {
    overflow: hidden;
}

/* menu */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.logo, .menu__item{
    padding-left: 5.63vw;
    padding-right: 5.63vw;
    padding-top: 2.08vw;
}
.logo a{
    color: #B3ADB3;
    font-size: 2.08vw;
    text-decoration: none;
    font-family: 'MAK', sans-serif;
    font-weight: 400;
}
.menu__item{
    display: flex;
    font-family: 'MAK', sans-serif;
    font-weight: 400;
}
.link__project{
    padding-right: 3.13vw;
}
.menu__item a{
    color: #B3ADB3;
    font-size: 1.56vw;
    text-decoration: none;
}



#js-scroll {
    height: 200%;
}



/* project section */

.wooden__container {
    width: 70%;
    margin: 5.21vw auto;
    color: #fff;
    padding: 5.21vw 2.08vw;
    text-align: center;
    
}

.wooden__container__title h1{
    color: #fff;
    font-size: 5.21vw;
    font-family: 'MAK', sans-serif;
    font-weight: 400;
}
.wooden__container__title{
    margin-top: 2.60vw;
}
.wooden__container__images {
    position: relative;
    width: 100%;
    height: 109.38vw;
    padding: 5.21vw 0;
}

.wooden__image {
    background: red;
    margin: 2.08vw auto;
}

.wooden__image__one {
    width: 39.06vw;
    height: 26.04vw;
    background: url(../img/three.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.wooden__image__two {
    width: 19.79vw;
    height: 26.04vw;
    position: relative;
    top: -12.63vw;
    left: -34.4vw;
    background: url(../img/two.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.wooden__image__three {
    width: 39.06vw;
    height: 26.04vw;
    position: relative;
    top: -25vw;
    left: 24.8vw;
    background: url(../img/one.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.wooden__image__four {
    width: 39.58vw;
    height: 26.04vw;
    position: relative;
    top: -40.71vw;
    left: -24.5vw;
    background: url(../img/photo__4.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.wooden__image__five {
    width: 28.13vw;
    height: 36.46vw;
    position: relative;
    top: -52.08vw;
    left: 30.3vw;
    background: url(../img/five.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.wooden__image__six {
    width: 54.69vw;
    height: 36.46vw;
    position: relative;
    top: -82.90vw;
    left: -16.95vw;
    background: url(../img/six.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.wooden__next__link {
    position: relative;
    top: -5.21vw;
    width: 100%;
    height: 20.83vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wooden__next__link a {
    color: #fff;
    text-decoration: none;
    font-size: 5.21vw;
    font-family: 'MAK', sans-serif;
    font-weight: 400;
    font-size: 5.21vw;
}

.anime__js__title .letter {
    display: inline-block;
    line-height: 1em;
}

@media only screen and (max-width: 960px) {
    .home{
        overflow: auto;
    }
    nav{
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        z-index: 2;
    }
    .menu__item{
        display: none;
    }
    .logo, .menu__item{
        padding-left: 33vw;
        padding-top: 6vw;
    }
    .logo a{
        font-size: 6.08vw;
    }
    .inner__cursor{
        display: none;
    }
    .inner__cursor.grow{
        display: none;
    }
    .outer__cursor{
        display: none;
    }
    .wooden__container__title h1 {
        font-size: 11vw;
    }
    .wooden__container__title {
        margin-top: 15vw;
    }
    .wooden__container {
        width: 80%;
    }
    .wooden__image__one{
        height: 47vw;
    }
    .wooden__image__two{
        height: 81vw;
    }
    .wooden__container__images {
        width: 100%;
        margin: 0 auto;
        height: 250vw;
    }
    .wooden__image__three{
        height: 55vw;
    }
    .wooden__image__four{
        height: 55vw;
    }
    .wooden__image__five{
        display: none;
    }
    .wooden__image__six{
        display: none;
    }
    .wooden__next__link{
        top: 8vw;
    }
    .wooden__image {
        width: 90%;
    }

    .wooden__image__one, .wooden__image__two, .wooden__image__three, .wooden__image__four {
        position: relative;
        top: 0;
        left: 0;
    }
    .letter {
        display: none;
    }
}
/* cursor */


.inner__cursor{
    position: fixed;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background-color: #B3ADB3;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
}
.inner__cursor.grow{
    width: 60px;
    height: 60px;
    transition: width 0.5s, height 0.5s;
}
.outer__cursor{
    position: fixed;
    left: 60px;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: 0.1s;
}